
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Holidays</title>
</head>
<body>
<div th:include="layout/header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-14">
				<div class="portlet-title">
					<div class="page-header">
						<h4>Holidays</h4>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-bordered">

							<thead>
								<tr>
									<th>S.NO</th>
									<th>HOLIDAY_DATE</th>
									<th>REASON</th>


								</tr>
							</thead>
							<tbody>

								<tr th:each="holiday : ${HOLIDAY_LIST}">
									<td th:text="${holiday.holidayDate}"></td>
									<td th:text="${holiday.status}"></td>

									<td><a class='btn btn-success'  href=""
										th:href="@{/holidays/edit(id=${holiday.id})}"><span
											class='icon-pencil'></span>Edit</a></td>
									<td><a class='btn btn-danger'  href=""
										th:href="@{/holidays/delete(id=${holiday.id})}"><span
											class='icon-pencil'></span>Delete</a></td>

								</tr>

							</tbody>
						</table>

					</div>
				</div>
				<div class="row">
					<a class='btn btn-success' href="" th:href="@{/holidays/create}">Add
						Holidays</a>
				</div>

			</div>

		</div>
	</div>


</body>
</html>